/target
/lib
/classes
/checkouts
pom.xml
*.jar
*.class
/.calva/
/.lein-*
/.env
*.log

.nrepl-port

# Links to other places:
resources/public/docs/mw-*/uberdoc.html
# Artefacts:
mw_ui.log
pom.xml

buildall.tmp.*/
