td.waste {
 	background-color: gray;
}

td.water {
 	background-color: blue;
}

td.pasture, td.grassland {
	background-color: lime;
}

td.heath {
	background-color: chartreuse;
}

td.scrub {
 	background-color: lime;
}

td.forest {
 	background-color: forestgreen;
}

td.climax {
	background-color: olive;
}

td.fire {
 	background-color: orange;
}
